%public{
	padding: 0;
	margin: 0;
	border: 0;
}
$withm:5,6,7,8,9,10;
@each $i in $withm{
	.with-#{$i}{
		.col-with{
			width: percentage(1/$i);
			float: left;
		}
	}
}
html{
	/*font-size: 360px;*/
	@media screen and(min-width: 320px){
		font-size:320*100px/360;
	};
	@media screen and(min-width: 360px){
		font-size:100px;
	};
	@media screen and(min-width: 375px){
		font-size:375*100px/360;
	}
	@media screen and(min-width: 385px){
		font-size:385*100px/360;
	}
	@media screen and(min-width: 414px){
		font-size:414*100px/360;
	}
	@media screen and(min-width: 480px){
		font-size:480*100px/360;
	}
}
body{
	@extend %public;
	/*height: 1000px;	*/
	font-size: 12px;
	line-height: normal;
	font-family: Helvetica,sans-serif;
	background-color: #f0f0f0!important;
}
ul,li{
	@extend %public;
	list-style: none;
}
/*img{
	@extend %public;
}*/
a{
	text-decoration: none;
}
.action{
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
}
.header{
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
	background-image: linear-gradient(top,rgba(0,0,0,0.7),rgba(0,0,0,0));
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	.hmenu{
		height: 45px;
		width: 25px;
		margin-left: 18px;
		float: left;
		background: url(../image/hmenu.png) no-repeat 2px 6px;
		background-size: 282px 31px;
	}
	.itext{
		float: left;
		/*height: 45px;*/
		margin: 6px 18px 0;
		flex:auto;
		-webkit-flex:auto;
		position: relative;
		.intet{
			height: 33px;
			color: #999;
			line-height: 33px;
			border-radius: 2px;
			padding-left: 10px;
			font-size: 14px;
			opacity: 0.9;
			background-color: #fff; 
		}
		.sosuo{
			position: absolute;
			top: 0;
			right: 10px;
			width: 20px;
			height: 30px;
			background: url(../image/hmenu.png) no-repeat -82px 2px;
			background-size: 282px 31px;
		}
	}
}
.bannerg{
	width: 100%;
	height: 1.74rem;
	a{
		display: block;		
	}
}
.imiao{
	background-color: #fff;
	display: block;
	height: 1.07rem;
}
.jifen{
	height: 71px;
	background-color: #fff;
	.col-with{
		a{
			padding: 4px;
			margin: 4px;
			display: block;
			text-align: center;
			color: #051B28;
			img{
				margin: 0 auto 5px;
				display: block;
			}			
		}
	}
}
.jifen2{
	height: 63px;
	background-color: #fff;
	.col-with{
		a{
			margin: 4px;
			display: block;
			text-align: center;
			color: #051B28;
			img{
				margin: 0 auto 5px;
				display: block;
			}
		}
	}
}
.hotdian{
	width: 100%;
	height: 59px;
	padding: 10px 0 9px;
	margin-top: 1px;
	background-color: #fff;
	position: relative;
	img:nth-child(1){
		position:absolute;
		top: 10px;
		left: 0;
		padding:0 5px 0 7px;
		border-right:1px solid #e7e7e7;
	}
	img:nth-child(2){
		position: absolute;
		top: 20px;
		left: 77px;
	}
	.xlx{
		/*width: 100%;*/
		padding-left: 102px;
		height: 40px;
		div{
			height: 18px;
			color: #000;
		}
		span{
			color: #ff2f2f;
			height: 18px;
			line-height: 18px;
		}
	}
}
.qiang{
	width: 100%;
	display: block;
	img{
		width: 100%;
	}
}
.zhibo{
	width: 100%;
	overflow: hidden;
	height: 1.11rem;
	.live{
		width: 50%;
		float: left;
	}
}
.biqiang{
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
	span:nth-child(1){
		border-color: #F6B7B7;
		margin-right: 6px;
		display: inline-block;
		border-bottom: 1px solid;
		width: 34px;
		margin-bottom: 5px;
		color: #F6B7B7;
	}
	span:nth-child(3){
		color: #FF2E2E;
		font-size: 14px;
	}
	span:nth-child(4){
		border-color: #F6B7B7;
		margin-left: 6px;
		display: inline-block;
		border-bottom: 1px solid;
		width: 34px;
		margin-bottom: 5px;
		color: #F6B7B7;
	}
}
.jcz{
	box-sizing:border-box;
	width: 100%;
	background-color: #fff;
	
	@extend %public;
	text-align: center;
	div{
		color: #2F2F2F;
	}
	li{
		@extend %public;
	}
	img{
		width: 84%;;
		display: block;
		margin: 8px auto;
	}
	span:nth-child(3){
		color: #ff2e2e;
		font-size: 10px;
		height: 14px;
		line-height: 14px;
		display: inline-block;
		margin-bottom: 8px;
	}
	span:nth-child(4){
		text-decoration: line-through;
		color: #9b9b9b;
		font-size: 10px;
		height: 14px;
		line-height: 14px;
		display: inline-block;
		margin-bottom: 8px;
		padding-right: 1px;
		margin-left: 2px;
	}
}